// .npmrc
registry=http://65.1.132.104:9000/omai/repository/npm-host/
// Add your Nexus credentials (username and password or token)
// For example:
// _auth=YWRtaW46MTIzNDU=
// Always secure your credentials.
